/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: aliceblue;
  --secondary-color: rgb(41, 39, 39);
  --transparent-secondary-color: rgba(41, 39, 39, 0.5);
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 1rem;
  --bottom-margin-2: 2rem;
  --bottom-margin-3: 4rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
  /* my variables */
  --tertiary-color: #bad9ff;
  --vertical-margin: 80px;
  --height-of-projects: 300px;
  --width-of-project-description: 40%;
}
/* Variables end */

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Sora', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

section {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: var(--bottom-margin-3);
}

.sectionTitle {
    font-size: 3rem;
    font-weight: var(--bolder-font);
    margin-bottom: var(--bottom-margin-2);
}

a:link, a:visited {
    background-color: var(--primary-color);
    color: black;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    transition: var(--transition);
    margin: 5px;
}

a:hover, a:active {
    background-color: var(--tertiary-color);
    cursor: pointer;
}

#photo {
    max-width: 300px;
    min-width: 100px;
}

/* #photoNameTitle{
    margin-bottom: var(--vertical-margin);
} */

#nameTitle {
    font-size: 3.25rem;
    font-weight: var(--bolder-font);
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    padding-left: 50px;
}

#aboutInfo {
    max-width: 600px;
    font-size: 18px;
}

#about {
    flex-direction: column;
    align-items: center;
}

#techIcons {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;
}

#techIcons img {
    margin: 15px 15px 0px;
    width: 50px;
}

#projects {
    flex-direction: column;
    align-items: center;
}

.project {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    position: relative;
}

.flexContainer {
    display: flex;
    position: absolute;
    width: 100%;
}

.rightAlign {
    justify-content: end;
    position: absolute;
}

.leftAlign {
    justify-content: start;
}

.projectDescriptionContainer {
    position: relative;
    min-height: var(--height-of-projects);
}

.projectDescription {
    background-color: var(--transparent-secondary-color);
    width: var(--width-of-project-description);
    z-index: 2;
    padding: 10px;
}

.projectTitle {
    font-size: 2rem;
    font-weight: var(--bold-font);
}

.flexContainer img {
    width: auto;
    height: var(--height-of-projects);
}

.spacer {
    height: var(--height-of-projects);
}

/* Animations */

#nameTitle div div {
    animation-duration: 1.5s;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
    opacity: 0;
}
#nameTitle div div:nth-child(1) {
    animation-name: slideInFromLeft;
}

#nameTitle div div:nth-child(2) {
    animation-name: slideInFromRight;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-500px);
    }

    89% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(500px);
    }

    90% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* contact section */

#contact {
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

#contact .sectionTitle {
    margin-bottom: var(--bottom-margin);
}

.contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0px 10px;
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1rem;
    border-radius: 5px;
    font-size: 0.875rem;
    outline: none;
    border: none;
    background-color: var(--primary-color);
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
    border: none;
}

.submit-btn:hover {
    background-color: var(--tertiary-color);
    cursor: pointer;
}