/* Variables */
:root {
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --primary-color: aliceblue;
  --secondary-color: rgb(41, 39, 39);
  --transparent-secondary-color: #575757b6;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 1rem;
  --bottom-margin-2: 2rem;
  --bottom-margin-3: 300px;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --transition-longer: 0.6s ease-in;
  /* my variables */
  --tertiary-color: #bad9ff;
  --vertical-margin: 80px;
  --height-of-projects: 300px;
  --width-of-project-description: 40%;
  --nav-bg-color: rgb(66, 64, 71);
  --nav-bar-height: 55px;
  --width-for-tablets-and-phones: 96vw;
}
/* Variables end */

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
    font-family: 'Sora', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

section {
    width: 100vw;
    display: flex;
    /* justify-content: center; */
    gap: 1rem;
    padding-bottom: var(--bottom-margin-3);
    padding-top: calc(var(--nav-bar-height)*2);
    min-height: calc(100vh - var(--nav-bar-height)*2);
}

.sectionTitle {
    font-size: 3rem;
    font-weight: var(--bolder-font);
    margin-bottom: var(--bottom-margin-2);
}

a:link, a:visited {
    background-color: var(--primary-color);
    color: black;
    padding: 7px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    transition: var(--transition);
    margin: 5px;
}

a:hover, a:active {
    background-color: var(--tertiary-color);
    cursor: pointer;
}

/* navbar */

#menuContainer {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: calc(var(--nav-bar-height)*0.15);
}

nav a:link, nav a:visited {
    transition: var(--transition);
    background-color: transparent;
    color: var(--primary-color);
}

nav a.viewed {
    color: aqua;
}

nav a:hover, nav a:active {
    color: rgb(247, 162, 5);
    cursor: pointer;
}



.nav-Title {
    font-size: 2rem;
    min-width: 16rem;
}


ul {
  list-style-type: none;
}

nav {
  position: sticky;
  width: 100%;
  height: var(--nav-bar-height);
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--nav-bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: var(--primary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  width: 55px;
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
  margin-left: auto;
  padding-right: 20px;
}



/* navbar end */

#nameTitle {
    flex-direction: column;
    font-size: 5rem;
    font-weight: var(--bolder-font);
    justify-content: center;
    align-items: center;
    padding-bottom: var(--bottom-margin-3)
}

#title, #titleTwo {
    color: var(--secondary-color);
    text-shadow: -1px -1px 0 var(--primary-color), 1px -1px 0 var(--primary-color), -1px 1px 0 var(--primary-color), 1px 1px 0 var(--primary-color);
    font-size: 6rem;
}

#aboutInfo {
    max-width: 600px;
    font-size: 18px;
}

#about {
    flex-direction: column;
    align-items: center;
}

#techIcons {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;
}

#techIcons img {
    margin: 15px 15px 0px;
    width: 50px;
}

#projects {
    flex-direction: column;
    align-items: center;
}

.project {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    position: relative;
}

.flexContainer {
    display: flex;
    position: absolute;
    width: 100%;
}

.rightAlign {
    justify-content: end;
    position: absolute;
}

.leftAlign {
    justify-content: start;
}

.projectDescriptionContainer {
    position: relative;
    min-height: var(--height-of-projects);
}

.projectDescription {
    background-color: var(--transparent-secondary-color);
    width: var(--width-of-project-description);
    z-index: 2;
    padding: 10px;
}

.projectTitle {
    font-size: 2rem;
    font-weight: var(--bold-font);
}

.flexContainer img {
    width: auto;
    height: var(--height-of-projects);
}

/* Animations */

#nameTitle div{
    animation-duration: 1.5s;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

#name {
    animation-name: slideInFromLeft;
}

#title {
    animation-name: slideInFromRight;
}

#titleTwo {
    animation-name: slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-500px);
    }

    89% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(500px);
    }

    90% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes expand {
  0% {
    transform: scaleY(0);
  }

  70% {
    transform: scaleY(1.1);
  }
  
  100% {
    transform: scaleY(1);
  }
}

@keyframes collapseAAA {
  0% {
    transform: scaleY(1);
  }

  20% {
    transform: scaleY(1.1);
  }
  
  100% {
    transform: scaleY(0);
  }
}



/* contact section */

#contact {
    flex-direction: column;
    align-items: center;
    gap: 0px;
    padding-bottom: 0px;
}

#contact .sectionTitle {
    margin-bottom: var(--bottom-margin);
}

.contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0px 10px;
}

.contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1rem;
    border-radius: 5px;
    font-size: 0.875rem;
    outline: none;
    border: none;
    background-color: var(--primary-color);
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
    border: none;
}

.submit-btn:hover {
    background-color: var(--tertiary-color);
    cursor: pointer;
}

/* contact section end */

/* social */

#socials img {
    width: 50px;
}

#socials a {
    background-color: transparent;
}

#socials svg {
    color: var(--primary-color);
    width: 50px;
}

#socials img, svg {
    transition-property: scale;
    transition-duration: var(--transition);
}
#socials img:hover , svg:hover {
    scale: 1.1;
}

/* social end */


/* footer */

footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

/* footer end */

/* tablets and mobile phones */

@media screen and (max-width: 720px) {
    nav {
        padding: 1.5rem 1rem;
    }

    nav ul {
        display: none;
        background-color: var(--nav-bg-color);
    }

    nav ul li {
        margin: 8px;
    }

    .burger-menu {
        display: block;
    }

    nav ul.burgerExpand {
        display: block;
        animation: expand 500ms ease-in-out;
        transform-origin: top;
    }

    nav ul.burgerCollapse {
        display: block;
        animation: collapseAAA 500ms ease-in-out;
        transform-origin: top;
        animation-fill-mode: forwards;
    }

    #nameTitle {
        font-size: 3rem;
    }

    #title, #titleTwo {
        font-size: 4rem;
    }

    section {
        margin-left: 2vw;
        margin-right: 2vw;
        width: var(--width-for-tablets-and-phones)
    }

}

@media screen and (max-width: 544px) {
    :root {
        --height-of-projects: calc(var(--width-for-tablets-and-phones)/1.78);
    }
}
/* tablets and mobile phones end */
